{% extends "base.html" %}

{#
{% block content %}
<table class="table">
{% for row in info %}
<tr>
{% for e in row %}
<td>{{ e | safe }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
#}

{% block content %}
<h1>URI: <strong>{{ uri }}</strong></h1>
<h1>As subject</h1>
<table class="table">
  <tr>
    <th>Predicate</th>
    <th>Object</th>
  </tr>
  {% for row in subjects %}
  <tr>
    {% for e in row %}
    <td>{{ e | safe }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<h1>As predicate</h1>
<table class="table">
  <tr>
    <th>Subject</th>
    <th>Object</th>
  </tr>
  {% for row in predicates %}
  <tr>
    {% for e in row %}
    <td>{{ e | safe }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<h1>As object</h1>
<table class="table">
  <tr>
    <th>Subject</th>
    <th>Predicate</th>
  </tr>
  {% for row in objects %}
  <tr>
    {% for e in row %}
    <td>{{ e | safe }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
